.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 445px;

    &__milkbottles {
        background-image: url("/assets/images/desktop/image-gallery-milkbottles.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    &__orange {
        background-image: url("/assets/images/desktop/image-gallery-orange.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    &__cone {
        background-image: url("/assets/images/desktop/image-gallery-cone.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    &__sugarcubes {
        background-image: url("/assets/images/desktop/image-gallery-sugarcubes.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
}