.header {
  background-image: url("/assets/images/desktop/image-header.jpg");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 800px;
  padding: 21px 56px 0px 57px;
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 118px;
    &__logo {
      color: $white;
      height: 28px;
      font-weight: 900;
      font-size: $font-lg;
      cursor: pointer;
    }

    &__link {
      display: flex;
      align-items: center;
      & > a {
        color: $white;
        font-size: $font-sm;
        margin-right: 47.17px;
      }

      & > .button {
        margin-right: 47.17px;
        font-family: 'Fraunces', serif;
      }
    }
  }

  &__title {
    color: $white;
    font-size: 45px;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    text-align: center;
    margin-bottom: 105px;
    letter-spacing: 10px;
  }

  &__arrow-down {
    display: flex;
    justify-content: center;

    &:hover {
      animation: identifier 1s infinite;
    }
    
  }
}

@keyframes identifier {
  50% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0px);
  }
}
