.photography {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 599px;
  position: relative;

  /*&__text {
        background-color: $white;
        padding-top: 168px;
        padding-bottom: 152px;
        padding-right: 115px;
        padding-left: 163px;
        &-title {
            font-size: 30px;
            font-family: 'Fraunces', serif;
            margin-bottom: 49px;
            line-height: 1.35;
        }
        &-description {
            color: $grayishBlue;
            line-height: 1.3;
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 51px;
        }
        &-beautiful-link {
            
            &-text-background {
                position: absolute;
                background-color: $softRed;
                width: 130px;
                height: 10px;
                border-radius: 3px;  
                z-index: 1;
                transform: translateY(-8px);
            }
            &-text-link {
                position:relative;
                font-family: 'Fraunces', serif;
                z-index: 2;
            }
            
        }
    }*/

  &__graphic-design {
    background-image: url("/assets/images/desktop/image-graphic-design.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-left: 198px;
    padding-right: 198px;
    padding-bottom: 64px;
    text-align: center;
    color: $darkDesatedCyan;
    display: flex;
    align-items: flex-end;
    &-text {
      &-title {
        font-size: 30px;
        font-family: "Fraunces", serif;
        margin-bottom: 49px;
        line-height: 1.35;
      }
      &-description {
        font-size: 15px;
        line-height: 1.8;
        color: $darkModerateCyan;
      }
    }
  }

  &__photography {
    position: relative;
    background-image: url("/assets/images/desktop/image-photography.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-left: 198px;
    padding-right: 198px;
    padding-bottom: 64px;
    text-align: center;
    color: $veryDarkDesaturatedBlue;
    display: flex;
    align-items: flex-end;
    &-text {
      &-title {
        font-size: 30px;
        font-family: "Fraunces", serif;
        margin-bottom: 49px;
        line-height: 1.35;
      }
      &-description {
        font-size: 15px;
        letter-spacing: 1.8;
        color: $darkBlue;
      }
    }
  }
}
