.standout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 599px;

    &__text {
        background-color: $white;
        padding-top: 168px;
        padding-bottom: 152px;
        padding-right: 115px;
        padding-left: 163px;
        &-title {
            font-size: 30px;
            font-family: 'Fraunces', serif;
            margin-bottom: 49px;
            line-height: 1.35;
        }
        &-description {
            color: $grayishBlue;
            line-height: 1.3;
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 51px;
        }
        &-beautiful-link {
            
            &-text-background {
                position: absolute;
                background-color: $softRed;
                width: 140px;
                height: 10px;
                border-radius: 30px;  
                z-index: 1;
                transform: translateY(-10px) translateX(-5px);
            }
            &-text-link {
                position:relative;
                font-family: 'Fraunces', serif;
                z-index: 2;
            }
            
        }
    }

    &__image {
        position: relative;
        background-image: url("/assets/images/desktop/image-stand-out.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        
    }
}