/***************  COLORS  ****************/
$softRed: hsl(7, 99%, 70%);
$yellow: #fad400;
$darkDesatedCyan: #25564b;
$darkBlue: hsl(198, 62%, 26%);
$darkModerateCyan: hsl(168, 34%, 41%);

$veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
$veryDarkGrayishBlue: hsl(213, 9%, 39%);
$darkGrayishBlue: hsl(232, 10%, 55%);
$grayishBlue:hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

/*************** FONT-SIZE ****************/
$font-med: 18px;
$font-sm: 16px; 
$font-lg: 29px; 
$font-xlg: 52px; 